<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>TV SHOW {{title_temp}}</h1>

    <h3>Title: {{title_temp}} </h3>
    <h3>Network: {{network_temp}} </h3>
    <h3>Release: {{release_temp}} </h3>
    <h3>Description: {{desc_temp}} </h3>




    
    <br>
    <br>
    <br>

    <a href=/shows>Go Back</a>


</body>
</html>